{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% block title %}
Post
{% endblock title %}
{% block content %}
<h3>Информация о посте</h3>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="Добавить категорию"/>
</form>
{% endblock content %}

{% if is_not_subscriber %}
<p class="text center"> <a href="{% url 'create' %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
{% endif %}